@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* costum font */
  --font-outfit: "Outfit", "Vazirmatn";
  --font-vazir: "Vazirmatn";
  /* new break points */
  --breakpoint-xs: 30rem;
  --breakpoint-logo-xs: 36rem;
  --breakpoint-xx: 18rem;
  /* costum colors */
  --color-dk : #060d1a  ;
}